{% extends "base.html" %}
{% block content %}
    <div>
        <div class="d-flex justify-content-between align-items-center">
            <h1>Assignment: {{ assignment.name }}</h1>
            <a class="btn btn-primary" href="{% url 'courses:view_course' assignment.course.slug %}">← Back</a>
        </div>
        <hr>
        <div class="d-flex justify-content-between align-items-center">
            <p>Due: {{ assignment.due_date }}</p>
            {% if assignment.state == "unpublished" %}
                <a href="{% url 'assignments:create_question' assignment.slug %}" class="btn btn-outline-primary">Add Question</a>
            {% endif %}
        </div>
    </div>
    {% if assignment.questions.all %}
        {% for Question in assignment.questions.all %}
            <div class="card mt-3 p-3">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h2 class="d-inline">{{ Question.index }}. {{ Question.question_body }} ({{ Question.point_value }} point{{ Question.point_value|pluralize }})</h2>
                    </div>
                    {% if Question.assignment.state == "unpublished" %}
                        <div>
                            <a href="{% url 'assignments:edit_question' assignment.slug Question.index %}" class="btn btn-outline-primary">Edit</a>
                            <a href="{% url 'assignments:delete_question' assignment.slug Question.index %}" class="btn btn-danger">Delete</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h5>There are no questions. Would you like to <a href="{% url 'assignments:create_question' assignment.slug %}">create one?</a></h5>
    {% endif %}
{% endblock content %}