{% extends "base.html" %}
{% block content %}
    <div>
        <div class="d-flex justify-content-between align-items-center">
            <h1>Closed Assignment: {{ assignment.name }}</h1>
            <a class="btn btn-primary" href="{% url 'courses:view_course' assignment.course.slug %}">← Back</a>
        </div>
        <hr>
        <div class="d-flex justify-content-between align-items-center">
            <p>Due: {{ assignment.due_date }}</p>
        </div>
    </div>
    {% if assignment.questions.all %}
        {% for Question in assignment.questions.all %}
            <div class="card mt-3 p-3">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h2 class="d-inline">{{ Question.index }}. {{ Question.question_body }} ({{ Question.point_value }} point{{ Question.point_value|pluralize }})</h2>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock content %}